<div class="modal-content bg-dark border-0 rounded-0" style="max-width: {{ max_size }}px;">
    <!-- header -->
    <div class="modal-header border-bottom-0">
        {#        <h1 class="modal-title fs-5 fw-bold mx-auto" id="modalLabel">#}
        {#            이미지 원본 보기#}
        {#        </h1>#}
        <button type="button"
                class="btn-close position-absolute end-0 me-2 btn-close-white"
                data-bs-dismiss="modal"
                aria-label="Close">
        </button>
    </div>
    <!-- body -->
    <div class="modal-body">
        <picture>
            {% for size, url in image_url_data.items() %}
                {% if size == 'thumbnail' %}
                    {# 1. thumbnail은 pass #}
                {% elif size == max_size %}
                    {# 2. 마지막크기는 img태그로 #}
                    <img class="img-fluid w-100" alt="{{ file_name }}" src="{{ url }}">
                {% else %}
                    {# 3. 그외에 size + url을 source태그에 media="(max-width: px)"에 넣어주면서 srcset으로 url지정 #}
                    <!-- show this up to size -->
                    <source media="(max-width: {{ size }}px)" srcset="{{ url }}">
                {% endif %}
            {% endfor %}
        </picture>
    </div>
</div>