{% extends 'picstargram/_page_base.html' %}

{% block meta %} {{ super() }} {% endblock meta %}
{% block css %} {{ super() }} {% endblock css %}
{% block title %}댓글 전체보기{% endblock title %}

{% block nav_top %}
    <header class="nav-top">
        <a href="{{ request.headers.get('Referer') }}" class="back">
            <i class="bi bi-chevron-left"></i>
        </a>
        <div class="name">댓글 전체보기</div>
    </header>
{% endblock nav_top %}

{% block content %}
    <div class="container">

        {# 글 내용 #}
        <div class="comment d-flex">
            <div class="d-inline me-2">
                <a href="{{ url_for('pic_users') }}">
                    {% set avatar_url = post.user.profile_url if post.user.profile_url else url_for('static', path='images/default-user.png') %}
                    <img src="{{ avatar_url }}"
                         class="profile"
                         alt="{{ post.user.username }}"/>
                </a>
            </div>
            <div class="d-flex flex-column w-100">
                <div class="d-flex justify-content-between">
                    <div>
                        <div class="name">{{ post.user.username }}</div>
                        <div class="comment">{{ post.content }}</div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="border border-muted border-1 opacity-50">


        {# 전체 댓글 #}
        <div class="comments ps-1">
            {% for comment in comments %}
                {% include 'picstargram/post/partials/comment_div.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}


{% block nav_bottom %}
    <header class="nav-bottom">
        {% include 'picstargram/post/partials/comment_create_form.html' %}
    </header>
{% endblock %}
