{#{% extends 'picstargram/_page_base.html' %}#}
{% import 'macros/_form.html' as _form %}


{#{% block title %} test {% endblock %}#}
{#{% block content %}#}

{#<script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>#}
{#          hx-ext="json-enc"#}  {# file이 없을 때의 form은 그냥 json으로 보내서, .as_form 안써도 되기#}

{#          hx-post="{{ url_for('test_post') }}"#}
{#          hx-trigger="submit"#}
{#          hx-encoding="multipart/form-data"#}

<!-- .modal-content  < (base) .modal-dialog < .modal  -->
{#      action="{{ url_for('test_post') }}"#}
<form class="modal-content"
      action="{{ url_for('pic_new_post') }}"
      method="post"
      enctype="multipart/form-data"
>
    <!-- header -->
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">새 게시물 작성</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        {#        src=request.url_for("uploads", path="images/post-0001.jpeg"),#}
        {{ _form.inline_preview_input(
                    width='100%;max-width:500px;',
                    label='내 기기에서 선택',
                    name='file',
                    value='',
                    _class='mb-5',
                    preview_div_class='',
                    content_div_class='',
                    btn_class='fs-6 mt-3',
                    btn_height="50px;",
                    btn_font_color="#fff;"
                ) }}


        {{ _form.inline_textarea(
                    bg_color='#e8f0fe',
                    width='100%;max-width:500px;',
                    label='내용',
                    label_class='',
                    name='content',
                    value='',
                    _class='mb-3',
                    input_class='',
                    required=True,
                    two_col_size='md'
                ) }}

        {#white_tag_names='["예시", "태그"]',#}
        {#default_tag_names='예시, 태그',#}
        {{ _form.inline_tags(
                    bg_color='#e8f0fe',
                    text_color='black',
                    width='100%;max-width:500px;',
                    label='태그',
                    label_class='',
                    name='tags',
                    default_tag_names='',
                    white_tag_names='["예시", "태그"]',
                    _class='mb-3',
                    input_class='',
                    two_col_size='md'
                ) }}


        {{ _form.submit_btn(width = '100%;max-width: 500px;',
                    justify_content = 'end;',
                    btn_width = 'auto;max-width: 200px;',
                    btn_height = '50px;',
                    btn_class =  'fs-6 mt-3',
                    btn_size =  'sm',
                    btn_bg_color = 'linear-gradient(135deg, #3a8ffe 0%, #9658fe 100%);',
                    btn_text =  '게시하기',
                    btn_font_color =  '#fff;',
                    has_cancel_btn = True,
                    btn_gap = '3',
                    cancel_btn_text =  '취소',
                    cancel_btn_bg_color = '#fff',
                    cancel_btn_font_color = 'black'
                    ) }}
    </div>
</form>
{#{% endblock %}#}
