<div class="comment d-flex ">
    <div class="d-inline me-2">
        <a href="{{ url_for('pic_users') }}">
            {% set avatar_url = comment.user.profile_url if comment.user.profile_url else url_for('static', path='images/default-user.png') %}
            <img src="{{ avatar_url }}"
                 class="profile"
                 alt="{{ comment.user.username }}"/>
        </a>
    </div>
    <div class="d-flex flex-column w-100">
        <div class="d-flex justify-content-between">
            <div>
                <div class="name">{{ comment.user.username }}</div>
                <div class="comment">{{ comment.content }}</div>
            </div>
            <div class="pt-2 fs-7">
                <a href="#" class="text-decoration-none text-muted">
                    <i class="bi bi-heart"></i>
                </a>
            </div>
        </div>
        <div class="d-flex gap-2 fs-7">
            <div class="text-muted">
                {{ comment.created_at | feed_time }}
            </div>
            <span href="#" class="text-muted">좋아요 {{ 123 }}개</span>
            <a href="#" class="text-decoration-none text-muted">
                답글 달기
            </a>
            {% if user and comment.user_id == user.id %}
                <a hx-post="{{ url_for('pic_hx_delete_comment', comment_id= comment.id ) }}"
                   hx-confirm="정말 삭제하시겠습니까?"
                   hx-swap="none"
                   style="cursor: pointer;"
                    >
                    <i class="bi bi-trash3-fill"></i>
                </a>
            {% endif %}
        </div>
    </div>
</div>