{#{% set user_exists_like = user and user.id in post.likes | map(attribute='user_id') | list %}#}
{% set user_exists_like = user and post.likes | selectattr('user_id', 'eq', user.id) | list | count > 0 %}
<a hx-post="{{ url_for('pic_hx_like_post', post_id= post.id ) }}"
   hx-trigger="click"
   hx-target="this"
   hx-swap="outerHTML"
   class="text-decoration-none cursor-pointer
           {% if user_exists_like %}text-danger{% else %}text-dark{% endif %}
        "
>
    {% if user_exists_like %}
        <i class="bi bi-heart-fill"></i>
    {% else %}
        <i class="bi bi-heart"></i>
    {% endif %}
</a>