<div class="container" hx-target="this" hx-swap="outerHTML swap:.5s">
    <article class="post">
        <div class="header">
            <a href="{{ url_for('pic_users') }}">
                {% set avatar_url = post.user.profile_url if post.user.profile_url else url_for('static', path='images/default-user.png') %}
                <img src="{{ avatar_url }}" class="profile"
                     alt="{{ post.user.username }}"/>
            </a>
            <a href="{{ url_for('pic_users') }}">
                <div class="name">{{ post.user.username }}</div>
            </a>
            <div class="time">
                {{ post.updated_at | feed_time }} {% if post.created_at != post.updated_at -%}(수정됨){%- endif %}</div>
            {# https://icons.getbootstrap.com/?q= #}
            <div class="header-icons">
                {% if user and post.user.id == user.id %}
                    <a hx-get="{{ url_for('pic_hx_get_edit_form', post_id= post.id ) }}" style="cursor: pointer;">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a hx-delete="{{ url_for('pic_delete_post', post_id= post.id ) }}"
                       hx-confirm="정말 삭제하시겠습니까?"
                       style="cursor: pointer;"
                    >
                        <i class="bi bi-trash3-fill"></i>
                    </a>
                {% else %}

                {% endif %}
            </div>
        </div>
        <div class="contents">
            {% if post.thumbnail_url %}
                {# max_size가 thumbnail이 아닌 경우 -> modal 띄우는 a태그에 감싸서 #}
                {% if post.image_info.max_size != 'thumbnail' %}
                    <a hx-get="{{ url_for('pic_hx_show_post_image', post_id=post.id) }}"
                       hx-target="#mediaDialog"
                       hx-swap="innerHTML"
                       style="cursor: pointer;"
                    >
                        <img class="w-100 img-fluid rounded-3" alt="content"
                             src="{{ post.thumbnail_url }}"
                        >
                    </a>
                    {# max_size가 thumbnail 경우 #}
                {% else %}
                    <img class="w-100 img-fluid rounded-3" alt="content"
                         src="{{ post.thumbnail_url }}"
                    >
                {% endif %}
            {% endif %}
            {# 추가 텍스트 post.content + tag #}
            <div class="d-flex align-items-center gap-2 text-sm my-3 flex-wrap">
                {% for tag in post.tags %}
                    <a href="{{ url_for('pic_get_tag', tag_id=tag.id) }} "
                       class="btn btn-sm rounded-pill border-0 px-3 py-1"
                       style="background: linear-gradient(135deg, #3a8ffe 0%, #9658fe 100%); color: #fff; transition: background-color 0.3s, color 0.3s;"
                    >
                        {{ tag.name }}
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="icons">
            <div class="icons-left">
                {# 좋아요 버튼 #}
                {% include 'picstargram/post/partials/post_likes_button.html' %}
                <i class="bi bi-chat"></i>
                <i class="bi bi-send"></i>
            </div>
            <div class="icons-right">
                <i class="bi bi-bookmark"></i>
            </div>
        </div>

        {% set comments_count = post.comments_count %}
        {# 좋아요 / 작성자 + 컨텐츠 #}
        <div class="pt-2 text-sm">
            <div class="d-block my-1 fs-6">
                <b>
                    {# 좋아요갯수 -> oob처리 됨. 여기서만 hx-swap-oob 표기가 없다. jinja변수 id때문에 #}
                    <span id="like-{{ post.id }}">{{ post.likes | length }}</span>
                </b>명이 좋아합니다.
            </div>
            <div class="d-flex flex-row gap-2">
                <strong class="d-inline">{{ post.user.username }}</strong>
                <p class="d-inline">{{ post.content }}</p>
            </div>

            <button class="btn p-0">
                <a hx-get="{{ url_for('pic_hx_show_post_details', post_id= post.id ) }}"
                   hx-target="#dialog"
                   hx-swap="innerHTML"
                   class="text-decoration-none text-muted fs-6"
                >
                    {#{% include 'picstargram/post/partials/comments_count_with_post.html' %}#}
                    <span id="commentsCountChanged-{{ post.id }}"
                    > 댓글
                        {% if comments_count > 0 %}
                            보기 <span class="badge bg-light text-dark rounded-pill">{{ comments_count }}</span>
                        {% else %}
                            달기
                        {% endif %}
                    </span>
                </a>
            </button>
        </div>
    </article>
</div>