{# 답글 내용 #}
<div class="reply-wrapper">
    <div class="d-flex justify-content-between align-items-end py-1 w-100 mb-1">
        {# 답글 정보 = 사진/ 닉넴|body #}
        {#<div class="d-flex fs-7 reply-{{ loop.index + 1 }}">#}
        <div class="reply-profile d-flex fs-7" style="--reply_index:{{ loop_index * 0.7 }}">
            {# 사진 #}
            {% set avatar_url = reply.user.profile_url if reply.user.profile_url else url_for('static', path='images/default-user.png') %}
            <a href="#">
                <img class="object-fit-cover rounded-circle me-3" style="width: 25px; height: 25px;"
                     src="{{ avatar_url }}" alt="{{ reply.user.nickname }} profile image"
                >
            </a>
            {# 닉네임 | 내용 #}
            <div class="row me-1">
                <div class="col-auto bg-dark bg-opacity-10 rounded-2 px-2 py-1">
                    <a class="text-decoration-none text-dark" href="#">
                        <span class="fw-bold"> {{ reply.user.username }} </span>
                    </a>
                    <div>
                        {{ reply.content }}
                    </div>
                </div>
            </div>
        </div>

        {# 답글 좋아요/삭제 #}
        <div class="d-flex align-items-center gap-2 fs-7">

            {% include "picstargram/post/partials/reply_likes_button_and_count.html" %}

            {# 삭제 #}
            {% if user and reply.user_id == user.id %}
                <a class="text-decoration-none text-muted cursor-pointer"
                   hx-post="{{ url_for('pic_hx_delete_reply', reply_id= reply.id ) }}"
                   hx-confirm="정말 삭제하시겠습니까?"
                   hx-swap="none"
                >
                    <i class="bi bi-trash3-fill"></i>
                </a>
            {% endif %}
        </div>
    </div>
</div>