{% macro inline_preview_input() %}
    {%- set main_color = kwargs.get('main_color', 'linear-gradient(135deg, #3a8ffe 0%, #9658fe 100%)') -%}
    {%- set width = kwargs.get('width', '100%;max-width: 500px;') -%}
    {%- set height = kwargs.get('height', '350px') -%}
    {%- set label = kwargs.get('label', '내 기기에서 선택') -%}
    {%- set name = kwargs.get('name', 'file') -%}
    {%- set value = kwargs.get('value', '') -%}
    {%- set required = 'required' if kwargs.get('required', False) else '' -%}
    {%- set src = kwargs.get('src', '') -%}
    {%- set _class = kwargs.get('_class', '') -%}
    {%- set preview_div_class = kwargs.get('preview_div_class', '') -%}
    {%- set content_div_class = kwargs.get('content_div_class', '') -%}
    {%- set btn_class = kwargs.get('btn_class', '') -%}
    {%- set btn_height = kwargs.get('btn_height', '50px;') -%}
    {%- set btn_font_color = kwargs.get('btn_font_color', '#fff;') -%}
    <style>
        .{{name}}-container {
            width: {{ width }};
            height: {{ height }};
        }

        .{{name}}-container .{{name}}-wrapper {
            width: 100%;
            height: calc({{ height }} * 0.85);
            border: 2px dashed #c2cdda;
            background: #fff;

            border-radius: 10px;
            overflow: hidden;
        }

        .{{name}}-wrapper.active {
            border: none;
        }

        .{{name}}-wrapper #{{name}}-img {
            display: {{ 'block' if src else 'none'}};
        }

        .{{name}}-wrapper .icon {
            font-size: 100px;
            color: #c2cdda;
        }

        .{{name}}-wrapper #cancel-btn {
            position: absolute;
            top: 10px;
            right: 10px;

            font-size: 30px;
            font-weight: bolder;
            color: #9658fe;
            cursor: pointer;

            display: none;
        }

        .{{name}}-wrapper.active:hover #cancel-btn {
            display: block;
        }

        .{{name}}-wrapper #cancel-btn:hover {
            color: #d74f73;
        }

        .{{name}}-wrapper .text {
            font-size: 15px;
            font-weight: 500;
            color: #c2cdda;
        }

        .{{name}}-wrapper .file-name {
            position: absolute;
            bottom: 0;

            width: 100%;
            background: {{ main_color }};

            color: #fff;
            font-size: 18px;
            padding: 8px 0;

            display: none;
        }

        .{{name}}-wrapper.active:hover .file-name {
            display: block;
        }

        .{{name}}-container #custom-btn {
            margin-top: {{ btn_margin_top }};
            width: 100%;
            height: {{ btn_height }};
            display: block;

            border: none;
            outline: none;
            border-radius: 25px;
            color: {{ btn_font_color }};
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 1px;
            text-transform: uppercase;

            cursor: pointer;
            background: {{ main_color }};
        }
    </style>

    <div class="{{ name }}-container mx-auto text-center form-group  {{ _class }}">
        <div class="{{ name }}-wrapper d-flex justify-content-center align-items-center position-relative">
            <div class="image position-absolute w-100 h-100 {{ preview_div_class }}">
                <img id="{{ name }}-img" class="w-100 h-100 object-fit-cover" src="{{ src }}" alt="">
            </div>
            <div class="content {{ content_div_class }}">
                <div class="icon"><i class="bi bi-cloud-upload-fill"></i></div>
                <div class="text">사진 혹은 동영상을 여기에 끌어다 놓으세요</div>
            </div>
            <div id="cancel-btn"><i class="bi bi-x-circle-fill"></i></div>
            <div class="file-name">파일 이름 자리</div>
            <input type="text" id="file-name-input" name="fileName" hidden value="">
        </div>
        <input type="file" id="default-btn" name="{{ name }}" hidden {{ required }} value="{{ value }}">
        <button type="button" id="custom-btn" class="btn btn-sm {{ btn_class }}"
                onclick="defaultBtnActive()">{{ label }}</button>
    </div>

    <script>
        var previewWrapperDiv = document.querySelector(".{{name}}-wrapper");
        var cancelBtn = document.querySelector("#cancel-btn");
        var defaultBtn = document.querySelector("#default-btn");
        var customBtn = document.querySelector("#custom-btn");
        var previewImg = document.querySelector("#{{name}}-img");
        var filenameDiv = document.querySelector(".file-name");
        var filenameInput = document.querySelector("#file-name-input");
        var regExp = /[0-9a-zA-Z가-힣\^\&\'\@\{\}\[\]\,\$\=\!\-\#\(\)\.\%\+\~\_ ]+$/;


        var MAX_IMAGE_SIZE_MB = 10;
        var MAX_VIDEO_SIZE_MB = 500;

        function isValidFileSize(file) {
            var fileSizeMB = file.size / (1024 * 1024); // Convert to megabytes
            if (file.type.startsWith('image/') && fileSizeMB > MAX_IMAGE_SIZE_MB) {
                alert(`이미지는 ${MAX_IMAGE_SIZE_MB}MB 이하의 파일을 업로드 해주세요`);
                return false;

            } else if (file.type.startsWith('video/') && fileSizeMB > MAX_VIDEO_SIZE_MB) {
                alert(`비디오는 ${MAX_VIDEO_SIZE_MB}MB 이하의 파일을 업로드 해주세요`);
                return false;
            }

            return true;
        }

        function defaultBtnActive() {
            defaultBtn.click();
        }

        defaultBtn.addEventListener("change", function () {
            var files = this.files;
            if (files.length <= 0) {
                return;
            }
            var file = files[0];
            // type & size 검증. 만약 유효하지 않으면 alert + return false;
            if (!(isValidFileType(file) && isValidFileSize(file))) {
                return;
            }

            // 공통메서드로 추출
            setFileToPreview(file);
        });

        // drag over/leave
        previewWrapperDiv.addEventListener("dragover", function (e) {
            e.preventDefault();
            previewWrapperDiv.classList.add("active");
        });

        previewWrapperDiv.addEventListener("dragleave", function (e) {
            previewWrapperDiv.classList.remove("active");
        });

        // drop
        previewWrapperDiv.addEventListener("drop", function (e) {
            e.preventDefault();
            // drop시에도 파일을 처리
            var files = e.dataTransfer.files;

            if (files.length <= 0) {
                return;
            }
            var file = files[0];

            // type & size 검증. 만약 유효하지 않으면 alert + return false;
            if (!(isValidFileType(file) && isValidFileSize(file))) {
                return;
            }

            // 공통메서드로 추출
            setFileToPreview(file);
        });

        // 이미지 or 비디오
        function isValidFileType(file) {
            var splitType = file.type.split('/')[0]
            // if(type == 'application/pdf' || splitType == 'image' || splitType == 'video'){
            if (splitType === 'image' || splitType === 'video') {
                return true
            }
            alert('사진 혹은 동영상 파일만 업로드 가능합니다.');
            return false
        }

        // 비디오에서 이미지추출 by video태그 preload + canplay -> canvas태그 -> previewImg
        function setVideoThumbnailToPreview(videoDataURL) {
            // 1) 비디오 태그를 생성해놓고, src입력 + 음소거 + 재생가능상태로 만든다.
            var video = document.createElement('video');
            video.src = videoDataURL;
            video.muted = true;
            video.preload = "auto"; // 필수) 전체load대신, 재생가능 상태로 만들어서 on canplay 이벤트가 가능해짐.


            // 2) 재생가능시 이벤트리스너를 걸어서, canvas태그를 만들어, 이미지를 그린다.
            //    그린 이미지를 previewImg에 넣고 + FileReader가 읽은 URL를 revoke시킨다.
            video.addEventListener('canplay', function () {
                var canvas = document.createElement('canvas');
                var context = canvas.getContext('2d');

                canvas.width = video.videoWidth;
                canvas.height = video.videoHeight;

                // Draw the first frame of the video on the canvas
                context.drawImage(video, 0, 0, canvas.width, canvas.height);

                // Convert the canvas content to a data URL (thumbnail)
                var thumbnailDataURL = canvas.toDataURL();

                // Set the thumbnail as the source of the preview image
                previewImg.src = thumbnailDataURL;
                previewImg.style.display = "block";
                previewWrapperDiv.classList.add("active");

                // canvas 삭제
                canvas.remove();

                // Clean up resources + video 삭제
                URL.revokeObjectURL(video.src);
                video.remove();
            });
        }

        function setFileToPreview(file) {
            if (file && isValidFileType(file)) {

                var reader = new FileReader();

                reader.onload = function () {
                    var result = reader.result;

                    if (file.type.startsWith('video')) {
                        setVideoThumbnailToPreview(result);
                    } else {
                        previewImg.src = result;
                        previewImg.style.display = "block";
                        previewWrapperDiv.classList.add("active");
                    }
                }

                cancelBtn.addEventListener("click", function () {
                    previewImg.src = "";
                    previewImg.style.display = "none";

                    previewWrapperDiv.classList.remove("active");

                    defaultBtn.value = ""; // input[type="file"] 속 file 초기화
                });

                reader.readAsDataURL(file);
            }

            // var fileName = this.value;
            var fileName = file.name;
            if (fileName) {
                const convertedFileName = fileName.match(regExp);
                filenameDiv.textContent = convertedFileName;
                filenameInput.value = convertedFileName;
            }
        }


    </script>
{% endmacro %}



{% macro inline_textarea() %}
    {%- set bg_color = kwargs.get('bg_color', '#e8f0fe') -%}
    {%- set width = kwargs.get('width', '100%;max-width: 500px;') -%}
    {%- set label = kwargs.get('label', '내용') -%}
    {%- set label_class = kwargs.get('label_class', '') -%}
    {%- set name = kwargs.get('name', 'body') -%}
    {%- set value = kwargs.get('value', '') -%}
    {%- set required = 'required' if kwargs.get('required', False) else '' -%}
    {%- set _class = kwargs.get('_class', '') -%}
    {%- set input_class = kwargs.get('input_class', '') -%}
    {%- set two_col_size = kwargs.get('two_col_size', 'md') -%}
    {%- set left_col_size = kwargs.get('left_col_size', '2') | int -%}


    <style>
        .{{name}}-container {
            width: {{ width }};
            display: flex;
            align-items: center;
        }

        .{{name}}-container textarea[name="{{name}}"] {
            border-radius: 0.5rem;
            padding: 1rem 1.2rem;
            margin: 0.5rem 0;
            background-color: {{ bg_color }};
            border: {{ bg_color }};
            resize: vertical;
        }
    </style>
    <div class="{{ name }}-container mx-auto text-center form-group row {{ _class }}">
        <label class="d-none d-{{ two_col_size }}-inline col-{{ two_col_size }}-{{ left_col_size }} col-form-label fw-bold {{ label_class }} text-end">
            {{- label -}}
        </label>
        <div class="col-{{ two_col_size }}-{{ 12 - left_col_size }}">
            <textarea rows="3" cols="5"
                      class="form-control {{ input_class }}"
                      name="{{ name }}"
                      placeholder="{{ label }}을 입력하세요."
                    {{ required }}>
            {{- value -}}</textarea>
        </div>
    </div>

{% endmacro %}


{% macro inline_input() %}
    {%- set bg_color = kwargs.get('bg_color', '#e8f0fe') -%}
    {%- set width = kwargs.get('width', '100%;max-width: 500px;') -%}
    {%- set type = kwargs.get('type', 'text') -%}
    {%- set label = kwargs.get('label', 'email') -%}
    {%- set label_class = kwargs.get('label_class', '') -%}
    {%- set name = kwargs.get('name', 'email') -%}
    {%- set value = kwargs.get('value', '') -%}
    {%- set required = 'required' if kwargs.get('required', False) else '' -%}
    {%- set _class = kwargs.get('_class', '') -%}
    {%- set input_class = kwargs.get('input_class', '') -%}
    {%- set two_col_size = kwargs.get('two_col_size', 'md') -%}
    {%- set left_col_size = kwargs.get('left_col_size', '2') | int -%}
    {# for avatar #}
    {%- set user = kwargs.get('user', None) -%}
    {%- set avatar_url = kwargs.get('avatar_url', None) -%}

    <style>
        .{{ name }}-container {
            width: {{ width }};
            display: flex;
            align-items: center;
        }

        .{{ name }}-container input[name="{{name}}"] {
            border-radius: 0.5rem;
            padding: 1rem 1.2rem;
            margin: 0.5rem 0;
            background-color: {{ bg_color }};
            border: {{ bg_color }};
            resize: vertical;
        }
    </style>

    {% if type == 'avatar' and user and avatar_url %}
        {% set type = 'file' %}
        <div class="d-flex flex-column align-items-center justify-content-center">
            <img id="avatar" class="rounded-circle w-25 h-25 object-fit-cover mb-2"
                 src="{{ avatar_url }}"/>
            <div class="text-center w-100">
                <h3 id="username">{{ user.username }}</h3>
                <div class="text-muted mb-2 mt-1">{{ user.email }}</div>
            </div>
        </div>
    {% else %}

    {% endif %}

    <div class="{{ name }}-container mx-auto text-center form-group row {{ _class }}">
        <label class="d-none d-{{ two_col_size }}-inline col-{{ two_col_size }}-{{ left_col_size }} col-form-label fw-bold {{ label_class }} text-end">
            {{- label -}}
        </label>
        <div class="col-{{ two_col_size }}-{{ 12 - left_col_size }}">
            <input type="{{ type }}"
                   class="form-control {{ input_class }}"
                   name="{{ name }}"
                   placeholder="{{ label }}을 입력하세요."
                    {{ required }}
                   value="{{- value -}}">
        </div>
    </div>

    {% if user and avatar_url %}
        <script>
           // This updates the avatar
            const fileInput = document.querySelector('input[type="file"]');

            fileInput.addEventListener('change', (event) => {
            const file = event.target.files[0];
            const image = document.querySelector('#avatar');

            if (file && file.type.includes('image')) {
                const url = URL.createObjectURL(file);
                image.src = url;
            }
            });

            // This updates the username
            const usernameInput = document.querySelector('input[name="username"]');
            const usernameOutput = document.getElementById('username');

            usernameInput.addEventListener('input', (event) => {
                usernameOutput.innerText = event.target.value;
            });

        </script>
    {% endif %}

{% endmacro %}


{#white_tag_names='["예시", "태그"]',#}
{#default_tag_names='예시, 태그',#}
{% macro inline_tags() -%}
    {%- set bg_color = kwargs.get('bg_color', '#e8f0fe') -%}
    {%- set text_color = kwargs.get('text_color', 'black') -%}
    {%- set width = kwargs.get('width', '100%;max-width: 500px;') -%}
    {%- set label = kwargs.get('label', '내용') -%}
    {%- set label_class = kwargs.get('label_class', '') -%}
    {%- set name = kwargs.get('name', 'tags') -%}
    {%- set default_tag_names = kwargs.get('default_tag_names', '') -%}
    {%- set white_tag_names = kwargs.get('white_tag_names', '[]') -%}
    {%- set _class = kwargs.get('_class', 'mb-5') -%}
    {%- set input_class = kwargs.get('input_class', '') -%}
    {%- set two_col_size = kwargs.get('two_col_size', 'md') -%}
    {%- set left_col_size = kwargs.get('left_col_size', '2') | int -%}

    <style>
        .{{ name }}-container {
            width: {{ width }};
            display: flex;
            align-items: center;
        }

        .{{ name }}-container input[name='{{name}}'] {
            width: 100%;
        }

        .custom-tags {
            border: none;
            font-weight: bold;
            --tag-bg: {{ bg_color }};
            --tag-hover: var(--tag-bg);
            --tags-border-color: var(--tag-bg);
            --tag-text-color: {{ text_color }};
            --tag-remove-btn-bg--hover: var(--tag-text-color);
            --tag-inset-shadow-size: 1.3em;
        }
    </style>

    <div class="{{ name }}-container mx-auto text-center form-group row {{ _class }}">
        <label class="d-none d-{{ two_col_size }}-inline col-{{ two_col_size }}-{{ left_col_size }} col-form-label fw-bold {{ label_class }} text-end">
            {{- label -}}
        </label>
        <div class="col-{{ two_col_size }}-{{ 12 - left_col_size }}">
            <input hidden name="{{ name }}"
                   class="custom-tags form-control form-control-sm form-control-solid {{ input_class }}"
                   placeholder="{{ label }}를 입력해주세요."
                   value="{{ default_tag_names | default('') }}"
            >
        </div>
    </div>
    <script>
        var tagsInput = document.querySelector('input[name="{{name}}"]');
        // init Tagify script on the above
        //{#data = JSON.parse({{countries | tojson}})#}
        var whitelist = JSON.parse({{ white_tag_names | default('[]')| tojson }});
        var tagify = new Tagify(tagsInput, {
            whitelist: whitelist,
        });

        // Chainable event listeners
        tagify.on('add', onAddTag)
            .on('remove', onRemoveTag)
            .on('input', onInput)
            .on('invalid', onInvalidTag)

        // tag added callback
        function onAddTag(e) {
            {#console.log("onAddTag: ", e.detail);#}
            {#console.log("original input value: ", tagsInput.value)#}
            //tagify.off('add', onAddTag) // exmaple of removing a custom Tagify event
        }

        // tag remvoed callback
        function onRemoveTag(e) {
            {#console.log(e.detail);#}
            {#console.log("tagify instance value:", tagify.value)#}
        }

        // on character(s) added/removed (user is typing/devaring)
        function onInput(e) {
            {#console.log(e.detail);#}
            {#console.log("onInput: ", e.detail);#}
        }

        // invalid tag added callback
        function onInvalidTag(e) {
            {#console.log("onInvalidTag: ", e.detail);#}
        }
    </script>
{%- endmacro %}


{% macro submit_btn() -%}
    {%- set width = kwargs.get('width', '100%;max-width: 500px;') -%}
    {%- set justify_content = kwargs.get('justify_content', 'end;') -%}
    {%- set btn_width = kwargs.get('btn_width', 'auto;max-width: 200px;') -%}
    {%- set btn_height = kwargs.get('btn_height', '50px;') -%}
    {%- set btn_class = kwargs.get('btn_class', 'fs-6 mt-3') -%}
    {%- set btn_size = kwargs.get('btn_size', 'sm') -%}
    {%- set btn_bg_color = kwargs.get('btn_bg_color', 'linear-gradient(135deg, #3a8ffe 0%, #9658fe 100%);') -%}
    {%- set btn_text = kwargs.get('btn_text', '게시하기') -%}
    {%- set btn_font_color = kwargs.get('btn_font_color', '#fff;') -%}
    {%- set has_cancel_btn = kwargs.get('has_cancel_btn', False) -%}
    {%- set btn_gap = kwargs.get('btn_gap', '3') -%}
    {%- set cancel_btn_text = kwargs.get('cancel_btn_text', '취소') -%}
    {%- set cancel_btn_bg_color = kwargs.get('cancel_btn_bg_color', '#fff') -%}
    {%- set cancel_btn_font_color = kwargs.get('cancel_btn_font_color', 'black') -%}

    <style>
        .submit-container {
            width: {{ width }};
            display: flex;
            align-items: center;
            justify-content: {{ justify_content }};
        }

        .submit-container > button {
            width: {{ btn_width }};
            height: {{ btn_height }};
            outline: none;
            font-size: 18px;
            font-weight: 500;
            varter-spacing: 1px;
            text-transform: uppercase;
            cursor: pointer;

            transition: background-color 0.2s, color 0.2s, border 0.2s;
        }

        .submit-container > button:nth-child(1) {
            border: none;
            background: {{ btn_bg_color }};
            color: {{ btn_font_color }};
        }

        .submit-container > button:nth-child(1):hover {
            background: #e8f0fe;
            color: black;
            font-weight: bold;
        }

        .submit-container > button:nth-child(2) {
            background: {{ cancel_btn_bg_color }};
            color: {{ cancel_btn_font_color }};
            border: 1px solid black;
        }

        .submit-container > button:nth-child(2):hover {
            border: none;
            background: {{ cancel_btn_font_color }};
            color: {{ cancel_btn_bg_color }};
        }
    </style>
    <div class="submit-container mx-auto text-center gap-{{ btn_gap }} text-sm">
        <button type="submit"
                class="btn btn-{{ btn_size }} rounded-pill px-3 py-1 {{ btn_class }}"
        >{{- btn_text -}}</button>
        {% if has_cancel_btn %}
            <button type="button"
                    class="btn btn-{{ btn_size }} rounded-pill border-0 px-3 py-1 {{ btn_class }}"
                    data-bs-dismiss="modal"
            >{{- cancel_btn_text -}}</button>
        {% endif %}
    </div>
{%- endmacro %}