{% extends 'picstragram/_page_base.html' %}

{% block meta %} {{ super() }} {% endblock meta %}
{% block css %} {{ super() }} {% endblock css %}
{% block title %}유저 정보{% endblock title %}

{% block nav_top %}
    <header class="nav-top">
        <a href="index.html" class="back">
            <i class="bi bi-chevron-left"></i>
        </a>
        <div class="name">NAME</div>
    </header>
{% endblock nav_top %}

{% block content %}
<div class=" detail">
    <div class="preview-container user">
        <div class="user-header">
            <img src="{{ url_for('static', path='images/user1.png') }}" class="profile" alt="내 공간">
            <div class="user-detail">
                <div class="user-name">
                    <h2>사용자이름</h2>
                    <button type="button" class="btn btn-sm btn-more"><i class="bi bi-three-dots" title="더보기"></i>
                    </button>
                </div>
                <div class="user-actions">
                    <button type="button" class="btn btn-sm btn-primary">팔로우</button>
                    <!-- <button type="button" class="btn btn-sm btn-action">팔로잉</button> -->
                    <button type="button" class="btn btn-sm btn-action" data-bs-toggle="modal"
                            data-bs-target="#notsupportedModal">메시지 보내기
                    </button>
                </div>
            </div>
        </div>
        <div class="user-description">사용자 설명</div>
        <div class="user-followers"><span class="name">ㅇㅇ</span>님 외 10명이 팔로우합니다</div>
    </div>
    <ul class="statistics">
        <li class="statistics-item">
            <div class="name">게시물</div>
            <div class="value">1,000</div>
        </li>
        <li class="statistics-item">
            <div class="name">게시물</div>
            <div class="value">1,000</div>
        </li>
        <li class="statistics-item">
            <div class="name">게시물</div>
            <div class="value">1,000</div>
        </li>
    </ul>
    <div class="row posts">
        <div class="col">
            <img src="{{ url_for('static', path='images/post-0001.jpeg') }}" class="img-fluid" alt="내 공간">
        </div>
        <div class="col">
            <img src="{{ url_for('static', path='images/post-0002.jpeg') }}" class="img-fluid" alt="내 공간">
        </div>
        <div class="col">
            <img src="{{ url_for('static', path='images/post-0003.jpeg') }}" class="img-fluid" alt="내 공간">
        </div>
    </div>
    <div class="row posts">
        <div class="col">
            <img src="{{ url_for('static', path='images/post-0004.jpeg') }}" class="img-fluid" alt="내 공간">
        </div>
        <div class="col">
            <img src="{{ url_for('static', path='images/post-0005.jpeg') }}" class="img-fluid" alt="내 공간">
        </div>
        <div class="col">
            <img src="{{ url_for('static', path='images/post-0006.jpeg') }}" class="img-fluid" alt="내 공간">
        </div>
    </div>
    <div class="row posts">
        <div class="col">
            <img src="{{ url_for('static', path='images/post-0007.jpeg') }}" class="img-fluid" alt="내 공간">
        </div>
        <div class="col">
            <img src="{{ url_for('static', path='images/post-0008.jpeg') }}" class="img-fluid" alt="내 공간">
        </div>
        <div class="col">
            <img src="{{ url_for('static', path='images/post-0009.jpeg') }}" class="img-fluid" alt="내 공간">
        </div>
    </div>
    <div class="row posts">
        <div class="col">
            <img src="{{ url_for('static', path='images/post-0010.jpeg') }}" class="img-fluid" alt="내 공간">
        </div>
        <div class="col">
            <img src="{{ url_for('static', path='images/post-0011.jpeg') }}" class="img-fluid" alt="내 공간">
        </div>
        <div class="col">
            <img src="{{ url_for('static', path='images/post-0012.jpeg') }}" class="img-fluid" alt="내 공간">
        </div>
    </div>
</div>

<!-- Modal -->
{% endblock content %}