{% extends 'picstargram/_page_base.html' %}

{% block meta %} {{ super() }} {% endblock meta %}
{% block css %} {{ super() }} {% endblock css %}
{% block title %}메인{% endblock title %}
{% block subtitle %}최신포스트{% endblock subtitle %}

{% block content %}
{#    {% for post in posts %}#}
{#        {% include 'picstargram/post/partials/post.html' %}#}
{#    {% endfor %}#}
    <div hx-trigger="load, postsChanged from:body"
         hx-get="{{ url_for('pic_hx_show_posts') }}"
         hx-target="this"
    >
        <div class="container text-center">
            Loading...
        </div>
    </div>

    <div class="container">
        <article class="post">
            <div class="header">
                {#<a href="user.html"><img src="images/user2.png" class="profile" alt="사용자2" /></a>#}
                <a href="{{ url_for('pic_users') }}">
                    <img src="{{ url_for('static', path='images/user2.png') }}" class="profile" alt="사용자2"/>
                </a>
                <a href="{{ url_for('pic_users') }}">
                    <div class="name">사용자2</div>
                </a>
                <div class="time">1시간</div>
            </div>
            <div class="contents">
                {#<img class="img-fluid" alt="100%x250" src="./images/post-0004.jpeg">#}
                <img class="img-fluid" alt="100%x250" src="{{ url_for('static', path='images/post-0004.jpeg') }}">
            </div>
            <div class="icons">
                <div class="icons-left">
                    <i class="bi bi-heart"></i>
                    <i class="bi bi-chat"></i>
                    <i class="bi bi-send"></i>
                </div>
                <div class="icons-right">
                    <i class="bi bi-bookmark"></i>
                </div>
            </div>
            <div class="comments">
                <div class="comment">
                    <div class="name">거깃섭</div>
                    <div class="comment">음식 사진만 찍으시나요?</div>
                </div>
                <div class="comment">
                    <div class="name">지나가던사람</div>
                    <div class="comment">마늘이 없네?</div>
                </div>
                <div class="comment">
                    <div class="name">너드너드</div>
                    <div class="comment">안녕하세요</div>
                </div>
            </div>
            <div class="add-comment">
                <input type="text" class="form-control" id="comment" placeholder="댓글 달기...">
            </div>
        </article>
    </div>
{% endblock content %}